%script{:language => "JavaScript"}
  s_account="#{Omniture.tracking_account}";
= javascript_include_tag 's_code'
%script{:language => "JavaScript"}
  s.pageName=parent.document.getElementById('omnitureFrame').attributes.getNamedItem('data-page-name').value;
  s.prop12='#{current_user.id}';
  s.prop26='#{Omniture.application_name}';
  s.prop37='#{request.session_options[:id]}';
  s.prop98='#{omniture_formatted_time}';
%script{:language => "JavaScript"}
  /
    \/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
    var s_code=s.t();if(s_code)document.write(s_code);if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-');
    \//
%noscript
  %img{:alt => "", :border => "0", :height => "1", :src => "http://#{Omniture.tracking_account}.122.2O7.net/b/ss/#{Omniture.tracking_account}/1/H.1--NS/0", :width => "1"}/
/ /DO NOT REMOVE/